body {
        background-color: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    form {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #001a33;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 153, 255, 0.7);
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
    }

    input {
        width: calc(100% - 16px);
        padding: 8px;
        margin-bottom: 16px;
        font-size: 16px;
        background-color: #001a33;
        color: #fff;
        border: 1px solid #0099ff;
        border-radius: 5px;
        outline: none;
    }

    button {
        background-color: #0099ff;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
    }

    #resultados {
        margin-top: 20px;
        font-size: 16px;
        background-color: #001a33;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 153, 255, 0.7);
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
    }

    #resultados div {
        margin-bottom: 8px;
    }
